html, body {
	margin: 0;
	padding: 0;
	background-color: black;
}
canvas {
	display: block;
}

#inp_console {
	caret: underscore;
	background-color: rgba(50,50,50,150);
	border-color: rgb(255,255,255);
	color: #aaa;
	outline: none;
	border: 1px solid #555;
	font-family: 'Courier New';
	
	transition: 250ms;
}
#inp_console:focus {
	color: rgb(10,250,10);
	border: 3px solid #555;
}

button {
	background-color: rgba(0,0,0, 0);
	border-color: rgba(0,0,0, 0);
	outline: none;
	font-family: 'Verdana';
	font-size: 25px;
}

#btn_play {
	color: rgb(40, 220, 60);
}
#btn_settings {
	color: rgb(150,150,150);
}
#btn_tutorial {
	color: rgb(200,200,200);
}
#btn_mainmenu {
	color: rgb(250,250,250);
}
